BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignConsecutiveMacros: true
BreakBeforeBraces: Attach
# Always brace single-statement if/else/for/while bodies.
InsertBraces: true
