[submodule "Media"]
	path = ext/Media
	url = ssh://git@svn.circlemud.org:2244/~git/rulos-media
[submodule "src/ext/stm32/STM32CubeG4"]
	path = ext/stm32/STM32CubeG4
	url = https://github.com/STMicroelectronics/STM32CubeG4
[submodule "src/ext/stm32/STM32CubeG0"]
	path = ext/stm32/STM32CubeG0
	url = https://github.com/STMicroelectronics/STM32CubeG0
[submodule "src/ext/stm32/STM32CubeF0"]
	path = ext/stm32/STM32CubeF0
	url = https://github.com/STMicroelectronics/STM32CubeF0
[submodule "src/ext/stm32/STM32CubeF3"]
	path = ext/stm32/STM32CubeF3
	url = https://github.com/STMicroelectronics/STM32CubeF3
[submodule "src/ext/stm32/STM32CubeF1"]
	path = ext/stm32/STM32CubeF1
	url = https://github.com/STMicroelectronics/STM32CubeF1
[submodule "ext/stm32/STM32CubeC0"]
	path = ext/stm32/STM32CubeC0
	url = https://github.com/STMicroelectronics/STM32CubeC0
